body{
  background-color:chocolate;
  
}
.box-foto{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow:hidden;
  background-color: white;

}

.box-foto img{
  width: 100%;
  height: 20%;
}
