body, html {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Organiza os itens verticalmente */
  }
  
  .quadrado {
    width: 600px;
    height: 300px;
    border-width: 1px; 
    border-style: solid; 
    background-color: rgb(255, 191, 0);
    margin: 10px 0; /* Espaço entre os quadrados */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .bola {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
  }
  