body, html {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .quadrado {
    width: 600px;
    height: 300px;
    border-width: 1px; 
    border-style: solid; 
    background-color: rgb(255, 191, 0);
    display: flex;
    position: relative;
    margin: 0 20px; /* Espaço entre os quadrados */
  }
  
  .bola {
    width: 125px;
    height: 125px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
  }
  
  .bola-esquerda {
    top: 20px;
    left: 20px;
  }
  
  .bola-direita {
    bottom: 20px;
    right: 20px;
  }
  